[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas="==1.5.3"
seaborn="==0.12.2"
plotly="==5.15.0"
numpy="==1.23.5"
matplotlib="==3.7.1"
matplotlib-inline="==0.1.6"
numpy="==1.23.5"
langchain="==0.0.212"

[dev-packages]


[requires]
python_version = "3.11"
